<!doctype html>
<html ng-app="pad">
<head>
    <title>API Consumer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="hello.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <li ng-controller="Main">

        <input  ng-disabled="queryStringNeeded" ng-keyup="getSearch()" ng-model="queryString" placeholder="Search all serials">
        <h1><a href ng-click="get(null)">{{title}}</a> </h1>

        <!--ALL SERIALS CONTAINER-->
        <div ng-repeat="serial in container._embedded.serialResourceList">
            <a href ng-click="changePage(serial._links.seasons.href, serial.serial.name)">
                {{serial.serial.name}}</a>
            <br>
            <button ng-click="updateSerial()">Update</button>
            <button ng-click="deleteSerial(serial._links.self.href)">Delete</button>
        </div>

        <!--ALL SEASONS CONTAINER-->
        <div ng-repeat="season in container._embedded.seasonResourceList">
            <a href ng-click="changePage(season._links.episodes.href, season.season.serial.name)">
                Season {{season.season.seasonNumber}}</a>
            <br><i>{{season.season.description}}</i>
            <button ng-click="updateSerial()">Update</button>
            <button ng-click="deleteSerial(season._links.self.href)">Delete</button>
        </div>

        <!--ALL EPISODES CONTAINER-->
        <div ng-repeat="episode in container._embedded.episodeResourceList">
            {{episode.episode.ord}} {{episode.episode.name}}<br>
            <i>{{episode.episode.description}}</i>
            <button ng-click="updateSerial()">Update</button>
            <button ng-click="deleteSerial(episode._links.self.href)">Delete</button>
        </div>

        <input ng-model="addString" placeholder="Add show">
        <button ng-click="addSerial()" >Add Serial</button>

        <p>
            <button ng-disabled="currentPage1 <= 1" ng-click="currentPageDec()">
                Previous
            </button>
            {{currentPage1}}
            <button ng-disabled="currentPage1 >= totalPages" ng-click="currentPageInc()">
                Next
            </button>
        </p>

    </li>
</body>
</html>

